.card {
  width: 420px;
  height: 456px;
  padding: 33px 36px 29px;

  text-align: center;

  stroke: #313131;
  stroke-width: 1px;
}

.title {
}

.textField {
}

.instruction {
}

.button {
}

.inscription {
}

.logIn {
}
