.card {
  width: 420px;
  height: 456px;
  padding: 33px 36px 29px;

  text-align: center;

  stroke: #313131;
  stroke-width: 1px;
}

.title {
  display: flex;
  justify-content: center;

  margin-bottom: 51px;

  line-height: 1;
  color: var(--color-light-100);
  text-align: center;
}

.textField {
  margin-bottom: 19px;
}

.instruction {
  margin-bottom: 65px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.button {
  margin-bottom: 20px;
}

.inscription {
  margin-bottom: 11px;
  color: var(--color-light-900);
  text-align: center;
}

.logIn {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-align: center;
}
