button {
  all: unset;
}

.label {
  color: var(--color-dark-100);
}

.trigger {
  cursor: pointer;

  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 2px 4px 2px 8px;

  line-height: 1;
  color: var(--color-light-100);

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:focus {
    border: 1px solid var(--color-info-700);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    border: 1px solid var(--color-dark-100);
  }
}
