.card {
  width: 100%;
  max-width: 420px;
  height: 528px;
  padding: 33px 36px 29px;

  text-align: center;
}

.textFields {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 60px;
}

.button {
  max-width: 348px;
  margin-bottom: 20px;
}
