.card {
  width: 100%;
  max-width: 420px;
  height: 528px;
  padding: 33px 36px 29px;

  text-align: center;
}

.textFields {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 24px;
}

.checkbox {
  margin-bottom: 11px;
  margin-left: -9px;
}

.recoverPassword,
.recoverPassword:visited {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin-bottom: 66px;
  margin-left: -12px;

  line-height: 1;
  color: inherit;
  text-align: right;
  text-decoration: none;
}

.button {
  max-width: 348px;
  margin-bottom: 20px;
}

.inscription {
  margin-bottom: 11px;
  color: var(--color-light-900);
  text-align: center;
}

.signUp {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-align: center;
}
