.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 220px;
}

.root {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
}

.track {
}

.range {
}

.thumb {
}
