.card {
  width: 420px;
  height: 420px;
  padding: 33px 36px 29px;
}

.title {
  margin-bottom: 27px;
  line-height: 1;
  color: var(--color-light-100);
  text-align: center;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar {
    margin-bottom: 6px;
  }
}

.textField {
  margin-bottom: 30px;
}
