.inputWrapper {
  display: inline-block;
  flex-direction: column;
  padding-right: 12px;
  padding-left: 12px;

  .inputBlock {
    position: relative;
    display: flex;
    align-items: center;

    .input {
      all: unset;

      position: relative;

      // top: 24px;
      width: 284px;
      height: 36px;
      padding-left: 12px;

      // padding-left: 40px;

      // styleName: Body 1;
      // font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-dark-100);
      text-align: left;
      letter-spacing: 0;

      border: 1px solid #4c4c4c;
      border-radius: 2px;
      outline: none;

      &:focus-visible {
        outline: 2px solid var(--color-info-700);
      }

      &:active {
        color: var(--color-light-100);
        border: 1px solid #fff;
      }

      &:disabled {
        color: var(--color-dark-300);
        border: 1px solid #4c4c4c;
      }

      &:not([disabled]):hover {
        background-color: var(--color-dark-700);
        border: 1px solid #808080;
      }
    }

    .error {
      color: var(--color-danger-300);
      border: 1px solid #f23d61;

      &::placeholder {
        color: var(--color-danger-300);
      }
    }

    .iconPassword,
    .iconSearch,
    .iconClose {
      all: unset;

      cursor: pointer;

      position: absolute;
      top: 60%;
      transform: translateY(-50%);
    }

    .iconPassword {
      right: 10px;
    }

    .iconSearch {
      left: 14px;
      color: var(--color-dark-100);
    }

    .iconClose {
      right: 10px;

      // display: none;
      color: var(--color-light-100);
    }

    .input:active + .iconClose {
      display: block;
    }

    .input:active + .iconSearch {
      color: var(--color-light-100);
    }

    .input:hover + .iconPassword {
      color: white;
    }
  }

  .label {
    top: -1px;
    transform: translateY(-50%);

    overflow: hidden;

    width: 284px;
    height: 24px;

    // width: calc(100% - (var(--field-padding) * 2));
    // styleName: Body 2;
    // font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-dark-100);
    text-align: left;
  }

  .errorMessage {
    width: 100%;
    height: 24px;
    font-size: 12px;
    color: var(--color-danger-300);

    &:empty {
      opacity: 0;
    }
  }
}
