.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: inline-block;

  height: 24px;
  margin-bottom: 1px;
  padding-left: 12px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
  text-align: left;
}

.inputContainer {
  position: relative;

  display: flex;
  align-items: center;

  width: 284px;
  padding-left: 12px;
}

.input {
  all: unset;

  position: relative;

  width: 284px;
  height: 36px;
  padding-left: 12px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
  text-align: left;
  letter-spacing: 0;

  border: 1px solid #4c4c4c;
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
  }

  &:focus {
    color: var(--color-dark-100);
    border: 2px solid var(--color-info-700);
  }

  &:active:enabled {
    color: var(--color-light-100);
    border: 1px solid var(--color-light-100);

    &::placeholder {
      color: var(--color-light-100);
    }
  }

  &.error {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);

    &::placeholder {
      color: var(--color-danger-300);
    }
  }

  &:hover:not(&:disabled) {
    color: var(--color-dark-100);
    background-color: var(--color-dark-700);
  }

  &[data-icon*='start'] {
    padding-left: 36px;
  }

  &[data-icon*='end'] {
    padding-right: 36px;
  }
}

.inputButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  &:disabled {
    color: var(--color-dark-100);
  }
}

.startIcon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;

  color: var(--color-dark-100);

  &:active {
    color: var(--color-light-100);
  }
}

.endIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.errorMessage {
  width: 100%;
  height: 24px;
  padding-left: 12px;

  font-size: var(--font-size-xs);
  color: var(--color-danger-300);

  &:empty {
    opacity: 0;
  }
}
