%common-styles {
  font-weight: 700;
  line-height: 24px;
  color: var(--color-dark-900);
  text-align: left;
  letter-spacing: 0;
}

.typography {
  font-family: var(--font-family-primary);
  background-color: white;
}

.large {
  @extend %common-styles;

  font-size: 26px;
}

.h1 {
  @extend %common-styles;

  font-size: 20px;
}

.h2 {
  @extend %common-styles;

  font-size: 18px;
}

.h3 {
  @extend %common-styles;

  font-size: 16px;
}

.body1 {
  @extend %common-styles;

  font-size: 16px;
  font-weight: 400;
}

.body2 {
  @extend %common-styles;

  font-size: 14px;
  font-weight: 400;
}

.caption {
  @extend %common-styles;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.link1 {
  @extend %common-styles;

  font-size: 14px;
  color: var(--color-info-500);
  text-decoration: underline;
}

.link2 {
  @extend %common-styles;

  font-size: 12px;
  color: var(--color-info-500);
  text-decoration: underline;
}

.overline {
  @extend %common-styles;

  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.subtitle1 {
  @extend %common-styles;

  font-size: 16px;
}

.subtitle2 {
  @extend %common-styles;

  font-size: 14px;
}
