%common-styles {
  margin: 0;

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  text-align: left;
  letter-spacing: 0;
}

.typography {
  font-family: var(--font-family-primary);
}

.large {
  @extend %common-styles;

  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);
}

.h1 {
  @extend %common-styles;

  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);
}

.h2 {
  @extend %common-styles;

  font-size: var(--font-size-l);
}

.h3 {
  @extend %common-styles;

  font-size: var(--font-size-m);
}

.body1 {
  @extend %common-styles;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}

.body2 {
  @extend %common-styles;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.caption {
  @extend %common-styles;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
}

.link1 {
  @extend %common-styles;

  cursor: pointer;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--color-info-500);
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.link2 {
  @extend %common-styles;

  cursor: pointer;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  color: var(--color-info-500);
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.overline {
  @extend %common-styles;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
}

.subtitle1 {
  @extend %common-styles;

  font-size: var(--font-size-m);
}

.subtitle2 {
  @extend %common-styles;

  font-size: var(--font-size-s);
}
