.container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  .infoWrapper {
    display: block;
    margin-left: 8px;

    .name {
      margin-bottom: 2px;
      line-height: 1;
    }

    .email {
      color: var(--color-dark-100);
    }
  }
}
