.cardContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;

  width: 100%;

  background-color: var(--color-dark-700);
  border: 1px solid #313131;
  border-radius: 2px;
  box-shadow:
    1px 1px 2px rgb(0 0 0 / 10%),
    -1px -1px 2px rgb(0 0 0 / 10%);
}

.title.title {
  display: flex;
  justify-content: center;

  margin-bottom: 27px;

  line-height: 1;
  color: var(--color-light-100);
  text-align: center;
}
